span{
	color: red;
}

.txtbox{
	display: inline;
	
}

.label {
	display: inline-block;
	width: 200px;
}
fieldset{
	border: none;
}

#trait{
	display: inline-block;
	width: 80%;
}

#formulaire{
	width: 50%;
	align: center;
}
#bloc{
	display: inline-block;
	width: 200px;
}
.radio{
	display: block;
	margin-left: 200px;
}